body {
  background-color: #d1cdcd;
}

.normal-Button {
  background-color: #009879;
  color: #fff !important;
  width: 10%;
  line-height: 1rem;
  text-align: center;
  margin: 30px 20px;
  border-radius: 10px 0 10px 0;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.normal-Button:hover {
  background-color: #23ac90;
}

.list_background {
  background-color: #fff;
  /* border: 1px solid gray; */
  padding: 10px;
}
.icons-media {
  width: 200%;
}

.list_buttons {
  background-color: rgb(204, 117, 117);
  border: 2px solid gray;
  padding: 10px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

.content-tablehead {
  background-color: #009879;
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 1.1rem;
}

.content-tableTD {
  padding: 12px 15px;
  direction: rtl;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(98, 98, 98);
  padding: 8px;
  word-wrap: break-word;
}

#id-media-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#id-media-table tr:hover {
  background-color: #ddd;
}

/* ############################### Main Tab Section ###################################  */
.tab-color {
  background-color: #ee6e73;
  color: #fff;
}

.MTS-wrapper {
  margin: 3% 5%;
}
.maintab {
  direction: rtl;
}
.itemtab {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  /* background-color: red; */
}

/* .control-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  margin-top: 0px;
  direction: rtl;
  color: black;
  text-align: right;
} */

/* 
.lbl-radio {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  direction: rtl;
  color: black;
  text-align: right;
} */

.span-radio {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
}
.paneltab {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  padding: 3rem;
  /* background-color: red; */
}
.group-element {
  padding: 0.3rem;
}
.navtop {
  margin-top: 50px;
}
.tab-content {
  padding: 40px;
  margin-top: -20px;
}
.under-label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  text-align: right;
  direction: rtl;
  /* clear: both; */
  float: right;
  margin-right: 10px;
}

.label-selected-value {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  background-color: #26a69a;
  color: #fff;
  font-weight: bold;
  border: 4px solid black;
  text-align: right;
  direction: rtl;
  /* clear: both; */
  float: right;
  margin-right: 10px;
}
.label-course {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border-right: 10px solid #ee6e73;
  background-color: #26a69a;
  border-radius: 10px 0px 0px 0px;
  /* height: 20px;
  width: 200px; */
  margin-top: 30px;
  margin-left: 10px;
  text-align: right;
  /* clear: both; */
  float: right;
  margin-right: 10px;
  margin-bottom: 0;
}

.label-war {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  border-right: 10px solid red;
  background-color: #e9c9c9;
  border-radius: 10px 0px 10px 0px;
  /* height: 20px;
  width: 200px; */
  margin-top: 30px;
  margin-left: 10px;
  text-align: right;
  /* clear: both; */
  float: right;
  margin-right: 10px;
  margin-bottom: 0;
}
.label-hidden {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border-right: 10px solid #ee6e73;
  background-color: #1bc01b;
  border-radius: 10px 0px 0px 0px;
  /* height: 20px;
  width: 200px; */
  margin-top: 20px;

  text-align: right;
  /* clear: both; */
  float: right;
  margin-right: 30px;
  margin-bottom: 0;
}

.control-hidden {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  text-align: right;
  margin-top: 10px;

  /* clear: both; */
  float: right;
  margin-right: 20px;
  margin-left: 10px;
}
.answer-control-hidden {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  text-align: right;

  margin-left: 10px;
  /* clear: both; */
  float: right;
  margin-right: 10px;
}
/* CSS REQUIRED */
.state-icon {
  left: -5px;
}
.list-group-item-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
  margin-bottom: 0px;
}

.welMsg {
  margin: 0 auto;
  max-width: 40%;
}

.list-group {
  max-height: 230px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

/* ############################### Hidden Tab Section ################################### */
.statement-btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border-right: 10px solid #ee6e73;
  background-color: #26a69a;
  border-radius: 10px 0px 0px 0px;
  /* height: 20px;*/
  width: 200px;
  margin-top: 30px;
  margin-left: 40px;
  text-align: right;
  /* clear: both; */
  float: right;
  margin-right: 10px;
  margin-bottom: 0;
}
.statement-btn:hover {
  background-color: #09e6cf;
  cursor: pointer;
}
.hidden-tab {
  
  animation: fadeEffect 1s;
  display: none;
}

.shown-tab {
  animation: showInEffect 1s;
  /* display: block; */
}

/* Style the tab */
.tab {
  overflow: hidden;
  direction: rtl;
  float: right;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.general-tab {
  overflow: hidden;
  direction: rtl;
  float: right;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  direction: rtl;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  text-align: right;
  float: right;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: showInEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes showInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ############################### QTHint Section ################################### */
.genSection {
  padding: 20px 40px 30px;
  margin: 30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  overflow: auto;
}
.borderLessContainer{
  padding: 20px 40px 30px;
  display: flex;
  flex-direction: column;

  
}

.genSubSection {
  padding: 10px 10px 10px;
  margin: 10px;
  border: 2px solid rgb(70, 69, 69);
  display: flex;
  flex-direction: column;

  overflow: auto;
}

.radio-margin {
  margin: 0px 20px 0px;
}
/* ############################### Media Section ################################### */

.media-checkbox-span {
  font-size: 1rem;
  color: rgb(68, 67, 67);
}

/* ############################### Statement & Answer Section ################################### */
.list-col {
  display: flex;
  flex-direction: column;
}
.list-answer-statement {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  border-right: 10px solid #26a69a;
  background-color: #ee6e73;
  border-radius: 10px 0px 0px 0px;

  /* height: 20px;
  width: 200px; */
  margin-top: 0px;
  margin-left: 0px;
  text-align: right;
  /* clear: both; */
  float: right;
  margin-right: 0px;
  margin-bottom: 0;
}

.list-answer-statement:hover {
  color: #fff;
  background-color: #e9c9c9;
  text-decoration: none;
}

/* .list-answer-statement:active {
  color: #fff;
  background-color: #f0a6a6;
  text-decoration: none;
} */

.tap-pane-answer {
  display: flex;
  height: auto;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 0px;
  height: auto;

  border: 1px solid black;
  background-color: #fff;
}
.fill-in-blank {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 20px;
  color: #fff;
  border-right: 10px solid #ee6e73;
  background-color: #1bc01b;
  border-radius: 10px 0px 0px 0px;

  margin-bottom: 30px;
  font-size: 1.5rem;
}

.input-fill-in-blank {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
  font-size: 1.5rem;
  color: black;
}
.multi-answers {
  border: 2px solid #ee6e73;
  padding: 10px;
  margin: 10px;
}

.toast-style {
  background-color: red;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: white;
}
/* .//////////////////////// */

/* MAKE IT CUTE ----- */
.tabs {
  position: relative;
  display: flex;
  min-height: 600px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  /* height: auto; */
}

.tabby-tab {
  flex: 1;
}

.tabby-tab .labelMediaTab {
  display: block;
  box-sizing: border-box;
  /* tab content must clear this */
  /* height: 40px; */

  padding: 10px;
  text-align: center;
  color: #ee6e73;
  background-color: #e0d8d8;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tabby-tab .labelMediaTab:hover {
  color: #ee8386;
  background-color: #f89597;
}

.tabby-content {
  position: absolute;

  left: 0;
  bottom: 0;
  right: 0;

  /* clear the tab labels */
  top: 80px;

  padding: 10px;
  border-radius: 0 0 8px 8px;
  background-color: #e0dfdf;

  transition: opacity 0.8s ease;

  /* show/hide */
  opacity: 0;
  /* transform: scale(0.1); */
  /* transform-origin: top left; */
}

/* MAKE IT WORK ----- */
.tabby-tab .radioInputTab {
  display: block;
}

.radioInputTab:checked ~ .labelMediaTab {
  background-color: #f5c2c3;
  color: #f86065;

  z-index: 2;
}

.radioInputTab:checked ~ .labelMediaTab ~ .tabby-content {
  z-index: 1;

  /* show/hide */
  opacity: 1;
  /* transform: scale(1); */
}

.iconTab {
  margin-top: 0.3rem;
  /* color: #ee6e73; */
  /* display: inline-block; */
  /* width: 100px;
  height: 100px; */
  /* border-radius: 100%; */
  /* border: 2px solid #cacfd6; */
  /* background-size: 100px 50px; */
  /* box-sizing: border-box; */
}
/* ///////////////////////// Tab function ///////////////////////////// */

.questionDiv {
  display: flex;
  flex-direction: row;
  word-wrap: none;
}

.questionText {
  padding: 0px 20px 0px;
  margin: 5px;

  display: flex;
  flex-direction: column;
}

/* Style the tab */
.tab-function {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab-function button {
  background-color: inherit;
  color: #ffffff;
  float: right;

  outline: none;
  cursor: pointer;
  /* padding: 14px 16px; */
  transition: 0.3s;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  border-right: 1px solid #d3cdce;
  background-color: #abeb92;
  border-radius: 20px 0px 0px 0px;

  /* height: 20px;
  width: 200px; */
  margin: 0px 5px;

  text-align: right;
  /* clear: both; */
  float: right;
  transition: all 0.5s ease;
}

/* Change background color of buttons on hover */
.tab-function button:hover {
  background-color: #89ec62;
  box-shadow: 0px 0px 5px rgb(19, 18, 18);
}

/* Create an active/current tablink class */
.tab-function button.active {
  background-color: #26a69a;
  box-shadow: 0px 0px 10px rgb(19, 18, 18);
}

/* Style the tab content */
.tabcontent-function {
  display: none;

  padding: 6px 12px;

  /* overflow: auto; */
  -webkit-animation: fadeEffectTab 1s;
  animation: fadeEffectTab 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffectTab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffectTab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
